page-contact-us {
    .web-panel-heading {
        margin:20px 0 0 20px;
        font-size:25px!important;
        letter-spacing:-1px;
        display:block;
        color:#666!important;
        font-weight:300!important;
        font-family:Kiatnakin,Tahoma,"Arial",Thonburi,Helvetica!important
    }

    .body-pannel {
        padding:30px 20px
    }

    .marginTop-13px {
        margin-top:-13px
    }

    .textalignh3 {
        margin-top:-1px;
        color:#594F74;
        font-weight:700
    }

    .border-hcolor {
        border-top:2px solid #eee;
        border-color:#594F74
    }

    .hilightText {
        color:#594F74;
        padding-bottom:10px
    }

    .web-panel {
        margin-bottom:20px;
        font-family:'Tahoma'
    }
}