pages-rib-web-account-activate {
    ul {
        list-style: none;
    }
    .form-horizontal .control-label {
        text-align: left;
        font-size: 12px;
        font-weight: bold !important;
    }
    .form-horizontal .input-xlarge{
        width: 420px !important;
    }
}