verify-ref-code {
    .form-horizontal .control-label {
        text-align: left;
        font-size: 12px;
        font-weight: bold !important;
    }
    .form-horizontal .input-xlarge{
        width: 420px !important;
    }
    .form-horizontal select.form-control {
        width: 420px !important;
    }
}