privacy-policy-selector{
  .privacyStyle {
    font-size:14px!important;
    display:block;
    font-weight:100!important
  }

  h3>dl>dt {
    font-size:14px!important;
    display:block;
    font-weight:700!important;
    font-family:Tahoma,"Arial",Thonburi,Helvetica!important
  }

  h3>dl>dd,h3>p {
    font-size:14px!important;
    display:block;
    font-weight:100!important;
    font-family:Tahoma,"Arial",Thonburi,Helvetica!important
  }
}