rib-web-qr-generator-complete{
    qr-code img{
        width: 150px;
        height: 150px;
    }

    .pre-logo-qrGenerate{
        width: 35px;     
        position: absolute;
        left: 43.5%;
        top: 42%;
    }
    .col-md-3{
        max-width: 150px;
    }
}

pib-web-qr-generator-complete{
    qr-code img{
        width: 150px;
        height: 150px;
    }

    .pre-logo-qrGenerate{
        width: 35px;     
        position: absolute;
        left: 43.5%;
        top: 42%;
    }
     .col-md-3{
        max-width: 150px;
    }
    //  .marginLeft{
    //     margin-left: 7% !important;
    // }
    // .maxWidth .table-scrollable > .table{
    //      width: 40% !important;
    // } 
}