<div class="clearfix"></div>
<h3 class="page-title">{{'lbl.QRGenerateHead'|translate}}</h3>
<div class='webstyle'>
	<div class="row">
		<div lass="col-md-12">
			<alert-message #alertMessage [type]="type" [message]="message" [option]="option"></alert-message>
		</div>
	</div>
	<div *ngIf="finishLoad && isShowKKPromptPayLink">{{message}} <a (click)="permissionChangeRoute.changeRoute('KK_PRODUCT_SERVICE.REGISTER_KK_PROMPT_PAY')">{{'btn.clickToRegisterKK'|translate}}</a>
	</div>
	<div *ngIf="finishLoad && isHasMyAccountData">
		<div class="row">
			<div class="col">
				<step-wizard [data]="stepWizard.input.data" [style]="stepWizard.input.style" [step]="stepWizard.input.step"></step-wizard>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light ">
					<div class="portlet-title margin-top">
						<div class="caption">
							<i class=" icon-layers font-kkppurple"></i>
							<span class="caption-subject font-kkppurple sbold uppercase">{{'label.stepQRGeneration1'|translate}}</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-group" [formGroup]="QRGeneratorFormGroup" (ngSubmit)="onSubmit()">

							<div class="form-group margin-left" formControlValidator [control]="QRGeneratorFormGroup.controls.myPromptPayAccount" [submitted]="submitted">
								<label>{{'lbl.selectMyPromptPay'|translate}}
										<span class="required" aria-required="true"> * </span>
									</label>
								<div>
									<select class="form-control input-xlarge" formControlName="myPromptPayAccount">
											<option value=""  [selected]="QRGeneratorFormGroup.value.myPromptPayAccount === value">{{'lbl.drpSelect'|translate}}</option>
											<option value="{{accounts[i].anyIDValue}}" [selected]="QRGeneratorFormGroup.value.myPromptPayAccount == accounts[i].anyIDValue" *ngFor="let account of accounts; let i = index">{{accounts[i].anyIDValue}} ({{accounts[i].anyIDType.label}})</option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								{{'lbl.specifyAmount'|translate}}
							</div>
							<div class="row">
									<label style=" padding-right: 5%;" >
										<input type="radio" [checked]="isDisableAmount" (click)="toggleDisableAmount(true)">
										<span>{{'lbl.no'|translate}}</span> 
									</label>
									<label>
										<input type="radio" [checked]="!isDisableAmount" (click)="toggleDisableAmount(false)">
										<span>{{'lbl.yes'|translate}}</span> 
									</label>
							</div>
							<div class="form-group" formControlValidator [control]="QRGeneratorFormGroup.controls.amount">
								<label>{{ 'lbl.amount' | translate }}</label>
								<div>
									<div class="input-group input-xlarge">
										<input type="text"  formControlName="amount" id="amount" name="amount" class="form-control text-right"  currencyFormatter />
										<span class="input-group-addon">
											{{ 'lbl.baht' | translate }}
										</span>
									</div>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9 text-align">
										<button type="submit" [disabled]="!QRGeneratorFormGroup.valid || (!isDisableAmount && validateAmount())" class="btn btn-outline kkppurple button-next">
											{{'button.next'|translate}}&nbsp;<i class="fa fa-angle-right" ></i>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="font-family: 'RSU_BOLD'; color: white" >.</div>