pib-web-prompt-pay-register, pib-web-prompt-pay-edit-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-left{
        margin-left: 10px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}


pib-web-prompt-pay-register-confirm, pib-web-prompt-pay-edit-confirm-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-left{
        margin-left: 10px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}

pib-web-prompt-pay-register-success, pib-web-prompt-pay-edit-complete-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-left{
        margin-left: 10px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}
