<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="row form-group">
            <div class="col-md-12">{{'label.activate.information' | translate}}</div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-sm-offset-2 col-md-7 col-sm-7">
                <div class="portlet-body>">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-light">
                            <tbody>
                                <tr>
                                    <td>{{'label.emailAddress' | translate}}</td>
                                    <td>{{subscribeInfoData.email}}</td>
                                </tr>
                                <tr>
                                    <td>{{'label.mobileNumber' | translate}}</td>
                                    <td>{{subscribeInfoData.mobileNo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>