
    $primary-color: green;
    $color-black: #000;   
    $color-white: #fff;
    $color-gray: gray;
    $color-textgray: #333333;
    $color-kk-blue : #594F74;
    $color-kkp-purple : #594F74;
    $color-kk-web-inactive: #D1D3D4;
    /*$color-pib-purple: #7170B3;*/
    $color-pib-purple: #594F74;
    /*$color-pib-web: #a1a0d6;*/
    $color-pib-web: #594F74;
    $color-pib-web-inactive: #e7e7e7;
    $color-kk-blue-inactive-button: #e3e1ec;
    /*$color-pib-panel-heading:#e7e7e7;*/
    $color-pib-panel-heading:#6e6e6e;
    $color-pib-panel-heading-font:#fff;
    $color-pib-font:#333;
    $color-font-glay-light:#8e9093;
    $ion-thumbnail-size:50px;
    $space-thumbnail:6px;
    $color-kk-blue-over:#3a2967;
    $color-kkp-purple-over:#16145F;
    $color-pib-blue:#594F74;
    $padding-input: 15px;
    $panel-light-gray:#f4f4f4;
    $font-label-blue:20px;
    $panel-lightest-gray: #f2f2f2;
    $textbox-border-color:#c5c5c5;
    $font-label-content:1.4rem;
    $color-red:#f53d3d;
    $mobile-font-item-size:1.6rem;
    $mobile-font-note-size:1.5rem;