timeline, timeline-mobile{
    .timeline .timeline-text {
        padding-top: 4px;
        font-size: 20px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede !important;
    }

    .dropdown-menu > li > a{
        border-bottom-style: none;
    }
}
