<div>
	<h3 class="margin-bottom">{{'lbl.editKKpromptPay'|translate}}</h3> 
	<div class="row">
		<div lass="col-md-12">
			<alert-message #alertMessage [type]="type" [message]="message"></alert-message>
		</div>
	</div>
    <div class="row">	
        <div class="col">
            <step-wizard [data]="stepWizard.input.data" [style]="stepWizard.input.style" [step]="stepWizard.input.step"></step-wizard>	
        </div>
    </div>
   
<div class="portlet light margin-top">
	<div class="portlet-title">
		<div class="caption">
			<i class=" icon-layers font-kkppurple"></i>
			<span class="caption-subject font-kkppurple sbold uppercase">{{'lbl.editKKPromptPaystep3of3'|translate}}</span>
		</div>
	</div>
	<div class="form-actions col-md-offset-2 col-md-12">
        <div class="mt-element-step">
            <div class="row step-no-background-thin">
                <div style="margin-top: 15px;margin-bottom: 15px;"
				 	[ngClass]="{'error': responseStatusFromConfirmEditPromptPay.responseCode !== constants.RESP_CODE_SUCCESS, 'active': responseStatusFromConfirmEditPromptPay.responseCode === constants.RESP_CODE_SUCCESS }" 
					class="col-lg-4 mt-step-col active">
                    <div class="mt-step-number bg-white font-grey"><i class="icon-check"></i></div>
                    <div class="mt-step-title uppercase font-grey-cascade">{{'label.status'|translate}}</div>
                    <div class="mt-step-content font-grey-cascade">
						{{ ((responseStatusFromConfirmEditPromptPay.responseCode === constants.RESP_CODE_SUCCESS )? 'label.Success' : 'lbl.regStatus.failed') | translate }}
					</div>
                </div>
            </div>
        </div>
    </div>
	<div class="portlet-body form">
		<div class="blog-post-content">
			<div class="portlet-body">
				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-light">
						<tbody>
							<tr>
								<td class="col-md-3">{{'lbl.connectBy'|translate}}</td>
								<td>
								<span>{{completeEditPromptPayAccount.anyIDType?.desc}}</span> - {{completeEditPromptPayAccount.anyIDValue}}</td>
							</tr>
							<tr>
								<td class="col-md-3">{{'lbl.currentKKPromptPayAccount'|translate}}</td>
								<td>{{completeEditPromptPayAccount.fromAccountName}} - {{completeEditPromptPayAccount.fromAccountNo}}</td>
							</tr>
							<tr>
								<td class="col-md-3">{{'lbl.newKKPromptPayAccount'|translate}}</td>
								<td>{{completeEditPromptPayAccount.toAccountAliasName}} | {{completeEditPromptPayAccount.toAccountNo}}</td>
							</tr>
							<tr>
								<td class="col-md-3"> {{'lbl.status'|translate}}</td>
								<td 
								*ngIf="responseStatusFromConfirmEditPromptPay.responseCode === constants.RESP_CODE_SUCCESS">
								{{'label.Success'|translate}}
								</td>
								<td 
								*ngIf="responseStatusFromConfirmEditPromptPay.responseCode !== constants.RESP_CODE_SUCCESS">
								{{responseStatusFromConfirmEditPromptPay.responseStatus?.errorMessage}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>				
	</div>
	<div class="col-md-offset-3 col-md-9" style="margin-bottom: 20px;">
		<a (click)="changeRoute('MY_KK_PROMPTPAY')" class="btn  btn-default" [ngClass]="{'btn-outline ': stepwizardStyle == 'rib-web'}"><i class="fa fa-cross"></i>{{'btn.close'|translate}} </a>
		<!--<a (click)="gotoKKProduct('promptPay')" class="btn green light-green" [ngClass]="{'btn-outline ': stepwizardStyle == 'rib-web',  'btn-pib-rib': stepwizardStyle == 'pib-web'}">{{'lbl.newRegisterKK'|translate}} <i class="fa fa-plus"></i></a>-->
	</div>
	</div>      
</div>