<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-history font-purple"></i>
                    <span class="caption-subject bold font-purple uppercase">{{'lbl.history' | translate}}</span>
					<span class="caption-helper">{{monthList.selected.label}}</span>
				</div>
				<div class="actions">
					<div class="btn-group" dropdown [isOpen]="false">
						<a id="period-btn" class="btn btn-outline kkppurple btn-circle btn-sm hover-initialized" dropdownToggle> {{monthList.selected.label}}
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-right" *dropdownMenu aria-labelledby="period-btn">
							<li *ngFor="let item of monthList.options;trackBy: trackByFn">
								<a (click)="onChangePeriod(item)">{{item.label}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<div class="tab-pane fade active in">
						<div [ngClass]="{ 'timeline':errorMessage == null }">
                            <!-- TIMELINE ITEM -->
                            {{errorMessage | translate}}
                            <div class="timeline-item" *ngFor="let timeline of timelineDataRender; trackBy: trackByFn">
                                <div class="timeline-badge" *ngIf="timeline.transDate">
                                    <div class="timeline-text">
                                        {{ timeline.transDate }}
                                        <div class="font">{{ timeline.transMonth }}</div>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"></div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <span class="timeline-body-alerttitle font-purple-haze">
                                                {{ timeline.rtpMsgTypeLable | translate }}: {{timeline.status}} 
                                            </span>
                                            <span class="timeline-body-time font-grey-cascade" *ngIf="timeline.transTime">
                                                {{ 'label.at' | translate }} {{ timeline.transTime }}
                                            </span>
                                        </div>
                                        <div class="timeline-body-head-actions">
                                            <div class="btn-group" dropdown [isOpen]="timeline.isopen">
                                                <a id="{{ timeline.actionButton }}" class="btn btn-circle btn-outline kkppurple btn-sm dropdown-toggle hover-initialized" type="button" dropdownToggle>{{ 'lbl.actions' | translate }}
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right" *dropdownMenu [attr.aria-labelledby]="timeline.actionButton">
                                                    <li>
                                                        <a (click)="selectMenuList('moreinfo', timeline.rawData)">{{ 'label.moreinfo' | translate }}</a>
                                                    </li>
                                                    <li *ngIf="timeline.rawData.requesterIdType !== 'BILLERID' && timeline.rtpMsgType === 'INCOMING'">
                                                        <a (click)="selectMenuList('transfer', timeline.rawData)">{{ 'lbl.transfer' | translate }}</a>
                                                    </li>
                                                    <li *ngIf="timeline.rawData.requesterIdType === 'BILLERID' && timeline.rtpMsgType === 'INCOMING'">
                                                        <a (click)="selectMenuList('billpayment', timeline.rawData)">{{ 'label.billpayment' | translate }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                        <span *ngIf="timeline.rtpMsgType === 'INCOMING'" class="font-grey-cascade"> 
                                            <br><strong>{{ 'lbl.RequestFrom' | translate }}</strong> : {{ timeline.requesterAccountName }} <span *ngIf="timeline.requesterIdType !== 'BILLERID'">({{ timeline.requesterIdValue }})</span>
                                        </span>
                                        <span *ngIf="timeline.rtpMsgType === 'OUTGOING'" class="font-grey-cascade"> 
                                            <br><strong>{{ 'lbl.RequestTo' | translate }}</strong> : {{ timeline.receiverAccountName }} <span *ngIf="timeline.receiverIdType !== 'BILLERID'">({{ timeline.receiverIdValue }})</span>
                                        </span>
                                        <span class="font-grey-cascade"> 
                                            <br><strong>{{'label.type' | translate}}</strong> : {{ (timeline.rtpMsgType === 'INCOMING') ? timeline.requesterIdTypeLabel : timeline.receiverIdTypeLabel}} 
                                        </span>
                                        <span class="font-grey-cascade"> 
                                            <br><strong>{{'lbl.amount' | translate}}</strong> : {{ timeline.amount }}
                                        </span>
                                        <span class="font-grey-cascade"> 
                                            <br><strong>{{ 'lbl.note' | translate }}</strong> : {{ (timeline.additionalNote) ? timeline.additionalNote : '-' }}	
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->
                        </div>

					</div>					
				</div>
			</div>
		</div>
    </div>
</div> 
