main-menu-pib{
    .th a{
        font-size: 13px !important;
    }
    .en a{
        font-size: 13px !important;
    }
	
	    .active-menu > a {
        color: $color-kkp-purple !important;
    }
}

