biller-list-page{
    table.table tbody > tr > td:hover {
        background-color: transparent !important;
    }
    .fit .icon-w:before {
        font-size: 21px !important;
    }
    .table.table-light > tbody > tr > td {
        border-bottom: none;
    }
    .line-bottom {
        border-bottom: 1px solid #ddd !important;
    }
    .line-bottom:last-child {
        border-bottom: 0px !important;
    }
    .panel-body {
        padding: 0px;
    }
    .panel {
        border: 0;
    }
}