rib-add-other-account-confirm {
    .no-gap {
        margin-bottom:0!important
    }

    .page-content {
        border-left:1px solid #F0F5F7;
        border-bottom:0 solid #F0F5F7!important
    }
} 

rib-edit-other-account-confirm {
    .no-gap {
        margin-bottom:0!important
    }

    .page-content {
        border-left:1px solid #F0F5F7;
        border-bottom:0 solid #F0F5F7!important
    }
} 