<div class="portlet" [style.padding.px]="5">
    <div class="clearfix"></div>
    <h3 class="page-title">{{ 'label.forgotresetPassword' | translate }}</h3>
    <div class="row">
        <div class="col-md-12">
            <alert-message #alertMessage [type]="alertConfig.type" [message]="alertConfig.message"></alert-message>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" *ngIf="referenceCodeOption === 'donot'">
                <div class="col-sm-6">
                    <label for="donothaveRef" class="mt-radio">
                        <input type="radio" id="donothaveRef" name="option" [(ngModel)]="referenceCodeOption" (ngModelChange)="onChange($event)" value="donot" />
                        {{'label.donothaveRef' | translate}} 
                        <span></span>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label for="haveRef" class="mt-radio">
                        <input type="radio" id="haveRef" name="option" [(ngModel)]="referenceCodeOption" (ngModelChange)="onChange($event)" value="have" /> 
                        {{'label.haveRef' | translate}} 
                        <span></span>
                    </label>
                </div>
		    </div>
            <div class="row" *ngIf="referenceCodeOption === 'have'">
                <div class="col-md-12">
                    <step-wizard [data]="stepWizard.input.data" [style]="stepWizard.input.style" [step]="stepWizard.input.step"></step-wizard>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title" *ngIf="referenceCodeOption === 'have'">
                    <div class="caption">
                        <i class=" icon-layers font-kkppurple"></i>
                        <span class="caption-subject font-kkppurple sbold uppercase">{{'lbl.resetPasswordStep' | translate}} {{stepWizard.input.step+1}} {{'label.of'| translate}} 3</span>
                    </div>
                </div>
                <div class="portlet-body form">
                     <div class="col-md-12">
                         <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<bs-modal-message #messageModal [body]="messageModalData.body" [title]="messageModalData.title" [size]="messageModalData.size" [config]="messageModalData.config" (onHidden)="onModalHidden($event)"></bs-modal-message>
