rib-web-prompt-pay-register,rib-web-prompt-pay-edit-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}

rib-web-prompt-pay-register-confirm,rib-web-prompt-pay-edit-confirm-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-left{
        margin-left: 10px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}

rib-web-prompt-pay-register-success,rib-web-prompt-pay-edit-complete-account{
    .text-align{
        text-align: center;
    }
    .margin-top{
        margin-top: 30px !important;
    }
    .margin-left{
        margin-left: 10px !important;
    }
    .margin-bottom{
        margin-bottom: 35px !important;
    }
}
