change-password-selector{

    $primary-color: #7170B3;
    $color-white: #fff;
    $color-gray: 	#F8F8F8;
    $color-textgray: #333333;
    $background-color: #009ac7;
    $textblue-color: #0073b7;
    .title {
        font-size: 20px;
        font-style:bold;
    }
    .web-panel-heading {
        color: $color-white;
        font-size: 18px;
        background-color: $color-kk-blue;
       // @include border-radius(5px,5px, 5px, 5px);
    }
    .padding-top {
        padding: 30px;

    }
     .padding-buttom {
        padding-bottom: 10px;

    }

     .padding-right {
        padding-right: 20px;
        padding-bottom: 0px;

    }
    .paddingtop{
        padding: 0px;

    }
    .portlet {
        margin-top: 0px;
        padding: 0px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
}